{% extends 'back/base.html.twig' %}

{% block title %}Points d'accroches {{ parent() }}{% endblock %}
{% block pageTitle %}Points d'accroches {% endblock %}

{% block body %}
    {% block content %}
    <div class="text-center"><a href="{{ path('app_hook_add_admin') }}"><i class="fa-solid fa-plus text-white"></i></a></div>
        {% if hooks %}
            <section>
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th>Nom du hook</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content">
                    <table cellpadding="0" cellspacing="0" border="0" valign="center">
                        <tbody class="text-center">
                            {% for hook in hooks %}
                                <tr>
                                    <td>{{ hook.name }}</td>
                                    <td>{{ hook.description }}</td>
                                    <td>
                                        <a href=""><i class="text-white fa-regular fa-pen-to-square"></i></a>
                                        <a href="" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette page ? Elle sera mise dans la corbeille')"><i class="text-white fa-regular fa-trash-can"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        {% else %}
            <p>Vous n'avez pas encore créé de hook.</p>
        {% endif %}
    {% endblock %}
{% endblock %}
