{% extends 'back/base.html.twig' %}

{% block title %}Points d'accroches {{ parent() }}{% endblock %}
{% block pageTitle %}Points d'accroches {% endblock %}

{% block body %}
    {% block content %}
    <i class="fa-solid fa-plus text-center color-white"></i>
        {% if hooks is not empty %}
            <ul>
                {% for hook in hooks %}
                    <li>{{ hook.name }} - {{ hook.description }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun hook créé</p>
        {% endif %}
    {% endblock %}
{% endblock %}
