<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% endblock %}
        <title>{% block title %}- Emeraude connect{% endblock %}</title>
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/front/main.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/front/responsive.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/root.css') }}">

            {{ ux_controller_link_tags() }}
        {% endblock %}

        {% block javascripts %}

        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
