{% extends "/base.html.twig" %}

{% block title %}Accueil {{ parent() }}{% endblock %}

{% block body %}
    {% block content %}
        <p class="text-white">Test</p>
    {% endblock %}
{% endblock %}