{% extends "/base.html.twig" %}

{% block title %}Accueil {{ parent() }}{% endblock %}

{% block body %}
<body class="bg-green-light-dark">
    {% block content %}
        <div class="general-maintenance">
            <div class="content">

                <img class="img-logo" src="{{ asset('assets/images/logo-blanc-emeraude-connect.png')}}" alt="Logo de l'entreprise Emeraude connect">
                <p class="text-white">Bienvenue ! </p>
                <p class="text-white">Notre site est en cours de construction.</p>
                <p class="text-white">Nous vous tiendrons informé lors de sa sortie.</p>
            </div>
        </div>
    {% endblock %}
    </body>
{% endblock %}
